[package]
name = "stateful"
version = "0.1.0"
authors = ["Erick Tryzelaar <erick.tryzelaar@gmail.com>"]

[lib]
name = "stateful"
plugin = true

[features]
default = ["unstable"]
unstable = []
impl_trait = []
unstable-testing = ["clippy", "compiletest_rs"]

[dependencies]
aster = "^0.26.0"
clippy = { version = "0.*", optional = true }
compiletest_rs = { version = "^0.2.1", optional = true }
